#test1_button {
  background-color: aqua;
}

nav ul {
  display: block;
}
nav li {
  font-family: "Times New Roman";
  color: rosybrown;
}
nav a {
  font-family: "Times New Roman";
  color: aqua;
}

.originalbutton, .greenbuttonEx, .redbuttonEx {
  font-family: "Times New Roman";
  font-size: medium;
  text-align: center;
  color: blue;
}

.redbutton {
  font-family: "Times New Roman";
  font-size: medium;
  text-align: center;
  color: blue;
  background-color: red;
}

.greenbutton {
  font-family: "Times New Roman";
  font-size: medium;
  text-align: center;
  color: blue;
  background-color: green;
}

.redbuttonEx {
  background-color: red;
}

.greenbuttonEx {
  background-color: green;
}

/*# sourceMappingURL=main.css.map */
