$test1_color: aqua;

#test1_button {
  background-color: $test1_color;
}

nav {
  ul {
    display: block;
  }

  li {
    font-family: "Times New Roman";
    color: rosybrown; }

  a {
    font-family: "Times New Roman";
    color: aqua;
  }
}

@mixin button_style {
  font-family: "Times New Roman";
  font-size: medium;
  text-align: center;
  color: blue;
}

.originalbutton{
  @include button_style;
}

.redbutton {
  @include button_style;
  background-color: red;
}

.greenbutton {
  @include button_style;
  background-color: green;
}

.redbuttonEx {
  @extend .originalbutton;
  background-color: red;
}

.greenbuttonEx {
  @extend  .originalbutton;
  background-color: green;
}